<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <input type="text" placeholder="Aggiungi task" v-model="newTasks">
        <button @click="clickButton">Add</button>

        <ul>
            <li  v-for="task in tasks">
                {{task.text}} {{task.done}}
            </li>
            
        </ul>






    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="logic.js"></script>
</body>
</html>