*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(32 42 47);;
    font-size: 18px;
    color: white;
}

#preloader{
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#preloader i{
    color: rgb(32 42 47);;
    font-size: 60px;
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    margin: 20px auto 40px;
    font-size: 50px;
}
/* #app{
    display: table;
    margin: auto;
} */
.container-todo{
    width: 80vh;
    margin: auto;
}
.cont-add{
    text-align: center;
    margin-bottom: 20px;
}
input{
    margin-right: 5px;
    width: 70%;
    padding: 5px 8px;
    border-radius: 100px;
    margin-bottom: 8px;
}
button{
    margin-left: 5px;
    width: 15%;
    padding: 5px;
    border-radius: 100px;
    cursor: pointer;
}
button:hover{
    opacity: 0.7;
}
ul{ 
    height: 72vh;
    overflow-y: auto;
}
ul li{
    margin-bottom: 10px;
    padding: 5px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
#error{
    font-size: 14px;
    color: red;
}
ul span{
    /* margin: auto 10px; */
}

.li-text{
    width: 60%;
}

.did{
    color: green;
}
.not-did{
    color: red;
}

.not-done:hover{
    opacity: 0.7;
}
.completed{
    cursor: pointer;
    margin-right: 15px;
}
.delete{
    cursor: pointer;
}

.delete:hover{
    color: red;
}

.line-text{
    text-decoration: line-through;
}


footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: rgb(32 42 47);;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 12px 60px;
    font-size: 11px;
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 40px;
    }
    .container-todo{
        width: auto;
    }
}